1. Create a pandas DataFrame using the student data provided below
#StudentID	Name	Age	Marks	Grade
#101	Alice	20	88	A
#102	Bob	21	75	B
#103	Charlie	19	92	A
#104	Diana	22	65	C
#105	Ethan	20	78	B
#106	Fiona	21	85	A
#107	George	23	70	B
#108	Hannah	19	95	A
#109	Ivan	22	60	C
#110	Julia	20	80	B

In [16]:
import pandas as pd

#Create a pandas DataFrame using the student data provided
pd_df = pd.DataFrame({
    "StudentID": [101,102,103,104,105,106,107,108,109,110],
    "Name": ["Alice","Bob","Charlie","Diana","Ethan","Fiona","George","Hannah","Ivan","Julia"],
    "Age": [20,21,19,22,20,21,23,19,22,20],
    "Marks": [88,75,92,65,78,85,70,95,60,80],
    "Grade": ["A","B","A","C","B","A","B","A","C","B"]
})

2. Save the DataFrame as a CSV file named students.csv

In [17]:
#Save the DataFrame as a CSV file named students.csv
pd_df.to_csv("students.csv",index=False)

3. Reload students.csv into a new DataFrame

In [18]:
#Reload students.csv into a new DataFrame
new_df = pd.read_csv("students.csv")

4. Display the first 3 rows using df.head(3)

In [19]:
#Display the first 3 rows using df.head(3)
print(f"First 3 rows in the imported dataframe:\n{new_df.head(3)}\n")

First 3 rows in the imported dataframe:
   StudentID     Name  Age  Marks Grade
0        101    Alice   20     88     A
1        102      Bob   21     75     B
2        103  Charlie   19     92     A

5. Display the statistical summary using df.describe()

In [20]:
#Display the statistical summary using df.describe()
print(f"statistical summary in the imported dataframe:\n{new_df.describe()}\n")

statistical summary in the imported dataframe:
       StudentID        Age      Marks
count   10.00000  10.000000  10.000000
mean   105.50000  20.700000  78.800000
std      3.02765   1.337494  11.535453
min    101.00000  19.000000  60.000000
25%    103.25000  20.000000  71.250000
50%    105.50000  20.500000  79.000000
75%    107.75000  21.750000  87.250000
max    110.00000  23.000000  95.000000

6. Explore the data further using df.shape, df.dtypes, and df.info()

In [21]:
#Explore the data further using df.shape, df.dtypes, and df.info()
print("Explore the data further")
print(f"Shape of the imported dataframe:\n {new_df.shape}\n")
print(f"Data types of the imported dataframe:\n {new_df.dtypes}\n")
print(f"Info of the imported dataframe")
new_df.info()

Explore the data further
Shape of the imported dataframe:
 (10, 5)

Data types of the imported dataframe:
 StudentID     int64
Name         object
Age           int64
Marks         int64
Grade        object
dtype: object

Info of the imported dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  10 non-null     int64
 1   Name       10 non-null     object
 2   Age        10 non-null     int64
 3   Marks      10 non-null     int64
 4   Grade      10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes